@model IEnumerable<JoelScottFitness.Common.Models.BlogViewModel>

<div class="title-format">
    BLOG
</div>

<div class="blog-row-container">

    @Html.Partial("_Blog", Model)

</div>
<div style="clear:both"></div>