@model IEnumerable<JoelScottFitness.Common.Models.BlogViewModel>

@{
    ViewBag.Title = "Blogs";
}

<div class="container">
    <div class="row">
        <div class="col-xs-12 title-format">
            BLOG
        </div>
        <div style="clear:both"></div>
    </div>
    <div class="row">
        <div class="col-xs-12 blog-row-container">
            
            @Html.Partial("_Blog", Model)

        </div>
        <div style="clear:both"></div>
    </div>
</div>