@model JoelScottFitness.Common.Models.CountdownViewModel
@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Joel Scott Fitness</title>
    <link href="~/Content/bootstrap.min.css" rel="stylesheet" />
    <link href="~/Content/fontawesome-all.min.css" rel="stylesheet" />
    <link href="~/Content/Countdown.css" rel="stylesheet" />
</head>

<body>

    @if (Model.CountdownEnabled)
    {
        <div class="logo-wrapper">
            <img src="~/Content/Images/Logos/jsf-white.svg" class="logo" />
        </div>
    <div class="strap-line-wrapper">
        <label>THE COUNTDOWN HAS BEGUN</label>
    </div>

    <div style="position: relative; width: 80%; height: 50px; margin:0 auto;" id="countdown"></div>
    <div style="clear:both"></div>
    <div class="go-live-strap" style="position: relative; width: 100%; text-align:center;">
        <label>Friday 1st June 2018 6pm (BST)</label>
    </div>
    }
    else
    {
        <div class="row">
            <div style="width:100vw;position:relative">
                <div style="width: 80%;margin:0 auto;padding-top: 50px;">
                    <img src="~/Content/Images/Logos/jsf-white.svg" />
                </div>
            </div>
        </div>
        <div class="coming-soon-wrapper">
            <label>COMING SOON</label>
        </div>
    }
    <div style="clear:both"></div>
    <div class="social-footer-container">
        <div class="social-footer-column-wrapper">
            <div class="social-footer-icon-wrapper">
                <div class="social-footer-icon">
                    <a href="http://www.facebook.com/Joelscottfitness-346355882365048/" target="_blank" id="facebook"><i class="fab fa-facebook-square fa-4x"></i></a>
                </div>
            </div>
            <div class="social-footer-icon-wrapper">
                <div class="social-footer-icon">
                    <a href="https://twitter.com/JoelSFitness/" target="_blank"><i class="fab fa-twitter fa-4x"></i></a>
                </div>
            </div>
        </div>
        <div class="social-footer-column-wrapper">
            <div class="social-footer-icon-wrapper">
                <div class="social-footer-icon">
                    <a href="https://www.youtube.com/user/JoelScottFitness/" target="_blank"><i class="fab fa-youtube fa-4x"></i></a>
                </div>
            </div>
            <div class="social-footer-icon-wrapper">
                <div class="social-footer-icon">
                    <a href="https://www.instagram.com/joelscottfitness/" target="_blank"><i class="fab fa-instagram fa-4x"></i></a>
                </div>
            </div>
        </div>
        <div style="clear:both"></div>
    </div>

        @Scripts.Render("~/bundles/jquery")
        <script src="~/Scripts/jquery.responsive_countdown.min.js"></script>

    <script>
        $("#countdown").ResponsiveCountdown({
            target_date: '@Model.GoLiveDate.ToString("MM/dd/yyyy HH:mm:ss")',
            time_zone: 1, target_future: false,
            set_id: 0, pan_id: 0, day_digits: 2,
            fillStyleSymbol1: "rgba(255,255,255,1)",
            fillStyleSymbol2: "rgba(255,255,255,1)",
            fillStylesPanel_g1_1: "rgba(0, 0, 0, 1)",
            fillStylesPanel_g1_2: "rgba(59, 59, 59, 1)",
            fillStylesPanel_g2_1: "rgba(0, 0, 0, 1)",
            fillStylesPanel_g2_2: "rgba(59, 59, 59, 1)",
            text_color: "rgba(255,255,255,1)",
            text_glow: "rgba(0,0,0,1)",
            show_ss: true, show_mm: true,
            show_hh: true, show_dd: true,
            f_family: "Bebas-Neue", show_labels: true,
            type3d: "single", max_height: 300,
            days_long: "days", days_short: "dd",
            hours_long: "hours", hours_short: "hh",
            mins_long: "minutes", mins_short: "mm",
            secs_long: "seconds", secs_short: "ss",
            min_f_size: 18, max_f_size: 30,
            spacer: "none", groups_spacing: 2, text_blur: 2,
            font_to_digit_ratio: 0.125, labels_space: 1.2
        });
    </script>
</body>
</html>
