
@{
    ViewBag.Title = "Error";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="container page-container">
    <div class="row">
        <div class="col-xs-12 title-format">
            OOPS!
        </div>
        <div style="clear:both"></div>
    </div>

    @{
        if (ViewBag.Message != null)
        {
            <div class="row">
                <div class="col-xs-12" style="text-align:center;padding-top:50px">
                    <p>
                        @ViewBag.Message
                    </p>
                </div>
                <div style="clear:both"></div>
            </div>
        }
        else
        {
            <div class="row">
                <div class="col-xs-12" style="text-align:center;padding-top:50px">
                    <p>
                        Oops! Something has gone wrong, please try again later.
                    </p>
                </div>
                <div style="clear:both"></div>
            </div>
        }
    }
        
</div>

