@model JoelScottFitness.Common.Models.OrderHistoryViewModel
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}

<div class="email-content-wrapper">
    <div class="email-content-container">
        <h3 class="email-order-confirmation">ORDER COMPLETE</h3>
        @{
            bool multiplePurchases = Model.Items.Count() > 1 || Model.Items.Any(i => i.Quantity > 1) ? true : false;

            <label class="email-order-summary">@Model.PurchaseDateDisplayString</label>
            <label class="email-order-summary">Hey @Model.Customer.Firstname,</label>
            <label class="email-order-summary">Your order #@Model.TransactionId is complete.</label>
            <label class="email-order-summary">Please find your fitness @string.Format(@"plan{0}", multiplePurchases ? "s" : string.Empty) attached.</label>

            if (Model.Customer.UserId.HasValue)
            {
                <label class="email-order-summary">You can also access @string.Format(@" {0} ", multiplePurchases ? "them" : "it") from your online account below.</label>
            }
        }

        <table class="email-table" cellspacing="0" cellpadding="0">
            <tbody>
                @if (Model.Customer.UserId.HasValue)
                {
                    <tr>
                        <td colspan="3" style="text-align:center">
                            <hr />
                            <a href=@string.Format("{0}/Home/MyPlans", TempData["RootUri"]) target="_blank" rel="noopener noreferrer" class="email-order-status-button" style="margin-bottom:30px;margin-top:30px;">
                                <span style="text-decoration:none;font-size:10pt;">View Plans</span>

                            </a>
                            <hr />
                        </td>
                    </tr>
                }
                <tr>
                    <td colspan="3" style="text-align:center">
                        <label class="email-order-summary">Please do not hesitate <a href=@string.Format("{0}/Home/Contact", TempData["RootUri"]) target="_blank" rel="noopener noreferrer">contact me</a> if you have any questions.</label>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>

<div class="google-icon-container" style="text-align:center;position:relative;margin-top: 12px;">
    <img style="height: 40px;" alt='Get it on the App Store' src=@string.Format("{0}/Content/Images/Logos/google-sheets-icon.png", TempData["RootUri"]) />
    <span style="padding:10px"></span>
    <a href='https://play.google.com/store/apps/details?id=com.google.android.apps.docs.editors.sheets&pcampaignid=MKT-Other-global-all-co-prtnr-py-PartBadge-Mar2515-1' target="_blank"><img style="height: 40px;" alt='Get it on Google Play' src=@string.Format("{0}/Content/Images/Logos/google-play-badge-68.png", TempData["RootUri"]) /></a>
    <span style="padding:10px"></span>
    <a href='https://itunes.apple.com/us/app/google-sheets/id842849113?mt=8' target="_blank"><img style="height: 40px;" alt='Get it on the App Store' src=@string.Format("{0}/Content/Images/Logos/Download_on_the_App_Store_Badge-68.png", TempData["RootUri"]) /></a>
</div>