@model IEnumerable<JoelScottFitness.Common.Models.HallOfFameViewModel>
@{
    ViewBag.Title = "HallOfFame";
    Layout = "~/Views/Shared/_Layout.cshtml";
}


        <div class="title-format">
            HALL OF FAME
        </div>
    @{
        if (Model == null || !Model.Any())
        {
            <div class="row" style="margin:0px">
                <div class="more-link-wrapper" style="padding-top:120px;padding-bottom:120px">
                    OOPS! NOT CURRENTLY AVAILABLE
                </div>
            </div>
        }
        else
        {
            foreach (var entry in Model)
            {
                @Html.Partial("_HallOfFame", entry)
            }
        }
     }