@model IEnumerable<JoelScottFitness.Common.Models.MediaViewModel>

@{
    ViewBag.Title = "Media";
}

<div class="container" style="padding-top:30px;">
    <div class="row">
        <div class="col-xs-12 title-format">
            MEDIA
        </div>
        <div style="clear:both"></div>
    </div>
</div>

