@model IEnumerable<JoelScottFitness.Common.Models.MediaViewModel>

@{
    ViewBag.Title = "Media";
}
<div class="container" style="font-family: 'Bebas-Neue';">
    <div class="row col-xs-12 title-format" style="margin:0px">
        MEDIA
        <div style="clear:both"></div>
    </div>
    <div style="clear:both"></div>

    @Html.Partial("_Media", Model)

    <div class="row col-xs-12" style="margin:0px;">
        <div class="more-link-wrapper">
            <a href="https://www.youtube.com/channel/UCubxF1muUJF5xH7yLe_KfFg" target="_blank" class="more-link">VIEW MY CHANNEL</a>
        </div>
    </div>
</div>

