@font-face {
    font-family: 'Antonio-Bold';
    src: url('../fonts/Antonio-Bold.ttf') format('truetype');
}

@font-face {
    font-family: 'Antonio-Light';
    src: url('../fonts/Antonio-Light.ttf') format('truetype');
}

@font-face {
    font-family: 'Antonio-Regular';
    src: url('../fonts/Antonio-Regular.ttf') format('truetype');
}

@font-face {
    font-family: 'Bebas-Neue';
    src: url('../fonts/BebasNeue.otf') format('opentype');
}

* {
    border-radius: 0 !important;
    -moz-border-radius: 0 !important;
}

body {
    margin: 0px;
    height: 100%;
    max-width: 100%;
    overflow-x: hidden;
}


a:hover {
    cursor: pointer;
}

.title-format {
    text-align: center;
    font-family: 'Bebas-Neue';
    font-size: 100px;
    line-height: 1;
    margin-top: 0;
    padding-top: 0;
    padding-right: 20px;
    display: inline-block;
    color: black;
}

.content-format {
    font-family: 'Bebas-Neue';
    font-size: 20px;
}

.believe-achieve-background-footer {
    background-image: url('/Content/Logos/believe-achieve-white.svg');
    background-repeat: no-repeat;
    position: fixed;
    right: 12px;
    bottom: 20px;
    z-index: 1;
    width: 400px;
    height: 62px;
    background-position-x: right;
}

.joel-scott-fitness-background-logo-footer {
    background-image: url('/Content/Logos/jsf-white.svg');
    background-repeat: no-repeat;
    position: fixed;
    left: 12px;
    bottom: 15px;
    z-index: 1;
    width: 248px;
    height: 56px;
}

@media (min-width:0px) and (max-width: 767px) {
    .joel-scott-fitness-background-logo-footer {
        display: none;
    }

    .believe-achieve-background-footer {
        background-position-x: center;
        right: auto;
        left: auto;
        width:100%;
    }
}




/* Set padding to keep content from hitting the edges */


/* Override the default bootstrap behavior where horizontal description lists 
will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.header {
    height: 100vh;
    width: 100%;
    background-size: cover;
    background-image: url('Images/banner.JPG');
    background-position: center top;
}

.logo {
    width: 50%;
    padding-top: 4%;
    padding-left: 4%;
}

.logo:after {
    content: '';
    display: block;
    clear: both;
}

.believe-achieve-logo-wrapper {
    position: relative;
}

.believe-achieve-logo-wrapper:after {
    content: '';
    display: block;
    clear: both;
}

.believe-achieve-logo-absolute {
    position: absolute;
}

.believe-achieve-logo {
    width: 25%;
}

.believe-achieve-logo-bottom-right {
    right: 20px;
    bottom: 20px;
    width: 25%;
}

.believe-achieve-logo-bottom-left {
    left: 20px;
    bottom: 20px;
    width: 25%;
}

.believe-achieve-logo-bottom-center {
    bottom: 20px;
    margin: auto;
    width: 25%;
}



.navbar-left {
    z-index: 1000;
}

.nav-logo {
    width: 200px;
    height: auto;
    padding-top: 10px;
    line-height: 60px;
    overflow-x: visible;
    overflow-y: visible;
    position:absolute;
}

@media (min-width:0px) and (max-width: 767px) {
    .nav-logo {
        margin-left: 22px;
    }
}

.nav-logo:after {
    content: '';
    display: block;
    clear: both;
}

p {
    margin: 0 auto 20px;
}

.navbar {
    height: 60px;
    background-color: black;
    z-index: 10;
}

.navbar-font {
    font-family: 'Bebas-Neue';
    font-size: 14pt;
}

@media (min-width:0px) and (max-width: 767px) {
    .navbar-collapse {
        margin-left: 200px;
        background-color: black;
        opacity: 0.8;
    }

    div.navbar-collapse.collapse {
        margin-left: 0px;
    }
}

.navbar-container {
    padding-right: 0px;
    padding-left: 0px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    div.navbar-collapse.collapse {
        margin-left: 200px;
    }

    .navbar-right {
        margin: 0px;
    }

    .navbar-container {
        padding-right: 15px;
        padding-left: 15px;
        margin-right: auto;
        margin-left: auto;
    }
}

.navbar-collapse .navbar-nav.navbar-right:first-child {
    background-color: black;
    opacity: 0.8;
    z-index: -10;
}

.navbar-collapse {
    margin: 0px;
    background-color: black;
    opacity: 0.8;
    padding-left: 15px;
}

.sticky {
    position: fixed;
    top: 0px;
    left: 0px;
    width: 100%;
    opacity: 0.8;
}

.nav-back-mask-padded {
    height: 60px;
    width: 100%;
    z-index: -1;
}

.sectContainer {
    height: 100%;
    width: 100%;
    position: relative;
    clear: both;
}

.sect-header {
    font-family: 'Bebas-Neue';
    font-size: 100px;
    line-height: 1;
    margin-top: 0;
    padding-top: 0;
    display: inline-block;
}

.sect {
    height: 100vh;
    width: 100%;
    background-attachment: fixed;
    background-size: cover;
    background-position: center top;
}

.subSect {
    min-height: 600px;
    position: relative;
    background-color: white;
    z-index: 2;
}

.sect1 {
    background-image: url('Images/section1.PNG');
}

.sect2 {
    background-image: url('Images/section2.PNG');
}

.sect3 {
    background-image: url('Images/section3.PNG');
}

.believe-achieve-background-wrapper {
    width: 200px;
}

.believe-achieve-background {
    background-image: url('Logos/believe-achieve-black.svg');
    background-size: cover;
    background-position: center center;
}

.nav-back-mask-top {
    top: 0;
    position: absolute;
}

/* HOME PAGE STYLES */


.home-panel {
    background-color: white;
    margin: 8px auto;
    padding: 20px;
    overflow-x: hidden;
    width: 100%;
    clear: both;
    align-items: center;
    justify-content: center;
}

.home-height {
    height: 60px;
}
/*.home-panel::after {
    content: "";
    display: block;
    clear: both;
}*/

.home-row {
    padding: 20px 0;
}

.home-welcome {
    flex: 1;
    width: inherit;
    flex-shrink: 3;
}

.home-logo img {
    flex: 1;
    width: 200px;
    height: auto;
    overflow-x: visible;
    overflow-y: visible;
}

a {
    text-decoration-style: none;
}

a:hover {
    text-decoration-style: none;
}

.section-title-wrapper {
    padding-top: 50px;
    font-family: 'Bebas-Neue';
    color: black;
}

.section-title {
    width: 100%;
    text-align: center;
    align-content: center;
    margin: 0px;
}

.plan-row-container {
    text-align: center;
    font-family: 'Bebas-Neue';
    font-size: 100px;
    line-height: 1;
    margin-top: 0;
    padding-top: 0;
    padding-right: 20px;
    display: inline-block;
}

.plan-index-container {
    width: 400px;
    height: 500px;
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 20px;
    color: black;
}

.plan-index-container:hover .plan-index-title {
    text-decoration: none;
    color: black;
    text-shadow: -1px 0 white, 0 1px white, 1px 0 white, 0 -1px white;
}

.plan-index-link {
    text-decoration: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.plan-index-image {
    background-position: center center;
    background-size: cover;
    width: 100%;
    height: 100%;
    position: relative;
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.plan-index-image:hover {
    filter: none;
    -webkit-filter: grayscale(0%);
}

.plan-index-title {
    text-decoration: none;
    height: auto;
    font-family: 'Bebas-Neue';
    font-size: 120px;
    line-height: 1;
    text-align: center;
    position: absolute;
    bottom: 150px;
    left: 0px;
    text-align: center;
    width: 100%;
    color: white;
}

.believe-achieve {
    font-family: 'Bebas-Neue';
    font-size: 50px;
    font-stretch: extra-expanded;
}

.believe-achieve-white {
    color: white;
}

.believe-achieve-black {
    color: black;
}

.more-link-wrapper {
    font-family: 'Bebas-Neue';
    font-size: 30px;
    text-align: center;
    width: 100%;
    padding-bottom: 20px;
}

.more-link-wrapper a {
    text-decoration: none;
}

.more-link {
    color: gray;
}

.more-link:hover {
    color: black;
}

/* HOME PAGE STYLES END*/
/* BLOG PAGE STYLES */
.blog-row-container {
    text-align: center;
    font-family: 'Bebas-Neue';
    font-size: 100px;
    line-height: 1;
    margin-top: 0;
    padding-top: 0;
    padding-right: 20px;
    display: inline-block;
}

.blog-container {
    width: 300px;
    height: 300px;
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 2px;
}

.blog-link {
    text-decoration: none;
    top: 0px;
    left: 0px;
    width: 100%;
    height: 100%;
}

.blog-title {
    width: 250px;
    height: 40px;
    bottom: 20px;
    left: 0px;
    position: absolute;
    text-align: center;
    vertical-align: middle;
    font-size: 40px;
    text-align: left;
    padding-left: 10px;
}

.blog-date {
    font-weight: normal;
    width: 40px;
    height: 60px;
    top: 0px;
    right: 10px;
    position: absolute;
    padding-top: 6px;
}

.blog-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
}

.blog-alternate-black {
    color: white;
    background-color: black;
}

.blog-alternate-white {
    color: black;
    background-color: white;
}
/* BLOG PAGE STYLES END */



/* PLAN PAGE STYLES START */

.plan-main-row-container {
    position: relative;
    font-family: 'Bebas-Neue';
}

.plan-main-image {
    position: relative;
    background-position: top center;
    width: 90%;
    min-height: 500px;
    min-width: 96%;
    height: auto;
    background-size: cover;
    background-repeat: no-repeat;
    text-align: center;
    margin: 0 auto;
}

.plan-main-title {
    height: auto;
    top: 20px;
    left: 0px;
    position: relative;
    text-align: left;
    padding-left: 20px;
    vertical-align: bottom;
    font-size: 80px;
    color: white;
    width: 100%;
    font-family: 'Bebas-Neue';
    color: black;
}

.plan-main-header {
    height: auto;
    top: 40px;
    right: 0px;
    position: absolute;
    text-align: right;
    padding-right: 20px;
    vertical-align: bottom;
    font-size: 40px;
    font-family: 'Bebas-Neue';
    color: black;
}

.plan-main-description {
    height: auto;
    bottom: 0px;
    left: 0px;
    position: absolute;
    text-align: center;
    padding-left: 20px 0px;
    vertical-align: bottom;
    font-size: 30px;
    color: white;
    background-color: black;
    opacity: 0.5;
    width: 100%;
    font-family: 'Bebas-Neue';
}

.plan-main-options-wrapper {
    height: auto;
    top: 100px;
    left: 0px;
    position: relative;
    text-align: left;
    padding-left: 20px;
    font-size: 40px;
    color: black;
}

.plan-main-options {
    position: relative;
    font-size: 40px;
    color: black;
    line-height: 0.4;
}

.plan-main-options-dropdown-wrapper {
    position: relative;
}

.plan-main-options-dropdown {
    position: relative;
    text-align: left;
    font-size: 20px;
    color: black;
    width: auto;
    height: 40px;
}

@media (min-width:400px) and (max-width: 800px) {

    .plan-main-header {
        font-size: 30px;
        position: relative;
    }
}

@media (min-width:0px) and (max-width: 400px) {
    .plan-main-header {
        display: none;
    }
}

@media (min-width:0px) and (max-width: 1000px) {
    .plan-main-description {
        font-size: 20px;
    }
}

@media (min-width:0px) and (max-width: 800px) {

    .plan-main-title {
        font-size: 60px;
    }

    .plan-main-options {
        font-size: 20px;
        line-height: 0;
    }

    .plan-main-options-wrapper {
        top: 50px;
    }

    .plan-main-options-dropdown {
        font-size: 14px;
    }
}

.plan-main-button-wrapper {
    position: relative;
    font-size: 40px;
    color: white;
}

.plan-main-button {
    width: 60px;
}

.plan-main-button-text {
    font-size: 20px;
}



.plan-main-options-dropdown:hover {
    cursor: pointer;
}

.plan-main-options-dropdown:hover option:hover {
    cursor: pointer;
}
/* PLAN PAGE STYLES END */
/* FOOTER STYLES START */
.footer-container {
    padding-top: 60px;
    background-color: black;
    position: relative;
}

.footer-subscribe-container {
    padding: 10px 20px;
}

.footer-logo-wrapper {
    width: 100%;
    margin: 0 auto;
    height: auto;
    position: relative;
    vertical-align: middle;
    padding: 20px;
}

.footer-logo {
    padding-top: 40px;
}

.footer-map-header {
    color: white;
    font-size: 14px;
}

.footer-site-map {
    font-size: 14px;
    color: grey;
    position: relative;
}

.footer-site-map ul {
    list-style: none;
    text-align: center;
    padding: 0px;
}

.footer-site-map ul li {
    padding: 10px;
}

.footer-site-map ul li a {
    text-decoration: none;
    color: grey;
}

.footer-site-map ul li a:hover {
    color: white;
}

.footer-social-map {
    font-size: 14px;
    color: grey;
    position: relative;
}

.footer-social-map ul {
    list-style: none;
    text-align: center;
    padding: 0px;
}

.footer-social-map ul li {
    padding: 10px;
}

.footer-social-map ul li a {
    text-decoration: none;
    color: grey;
}

.footer-social-map ul li a:hover {
    color: white;
}
/* FOOTER STYLES END */

/* BLOG MODAL STYLES*/
.blog-modal-container {
    width: 100%;
    text-align: center;
    font-family: 'Bebas-Neue';
    line-height: 1;
}

.blog-modal-dialog {
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
}

.blog-modal-content {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.blog-modal-header {
    text-align: left;
}

.blog-modal-title {
    font-size: 40pt
}

.blog-modal-sub-title {
    font-size: 20pt;
    text-align: left;
    position: relative;
}

.blog-modal-body {
    font-size: 14pt;
}

.blog-modal-body p {
    text-align: justify;
}

.blog-modal-date {
    font-size: 20pt;
    text-align: right;
    position: relative;
    padding-bottom: 20px;
}

.blog-modal-footer {
    text-align: center;
}

.blog-modal-footer-logo {
    width: 200px;
}

.blog-modal-carousel-wrapper {
    width: 80%;
    height: 80%;
    margin-left: auto;
    margin-right: auto;
}

.blog-modal-carousel-item {
    width: 100%;
    overflow: hidden;
    max-height: 400px;
    min-height: 200px;
}

.blog-modal-carousel-item-image {
    width: 100%;
    overflow-y: hidden;
}

.blog-modal-carousel-item-caption {
    left: 0;
    width: 100%;
    text-align: center;
}

.blog-modal-carousel-item-caption-logo {
    position: absolute;
    width: 100%;
    max-height: 30px;
    min-height: 20px;
    background-position: center right;
    background-repeat: no-repeat;
}

.blog-modal-carousel-item-caption-logo-white {
    background-image: url(../Content/Logos/jsf-white.svg);
}

.blog-modal-carousel-item-caption-logo-black {
    background-image: url(../Content/Logos/jsf-black.svg);
}

.hide-caption {
    display: none;
}

@media (min-width:400px) {
    .hide-caption {
        display: block;
    }
}

/* MEDIA STYLES START */

.video-container {
    width: 100%;
    height: 0;
    padding-bottom: 56.25%;
    position: relative;
}

.video-player {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
/* MEDIA STYLES END*/

/* BASKET LABEL STYLES START */

.basket-cart-container {
    z-index: 20;
    position: fixed;
    right: 0px;
    top: 100px;
    display: none;
    text-decoration: none;
}

.basket-link {
    text-decoration: none
}

.basket-background {
    position: relative;
    z-index: 20;
    border-top-left-radius: 10px !important;
    border-bottom-left-radius: 10px !important;
    width: 90px;
    height: 30px;
    background-color: black;
    opacity: 0.8;
}

.basket-icon-container {
    position: absolute;
    text-align: center;
    width: 100%;
    display: inline-block;
    vertical-align: middle;
    height: 100%;
    text-decoration: none;
}

.basket-icon-container:hover {
    text-decoration: none;
}

.basket-badge {
    color: black;
    margin-top: -12px;
    background-color: white;
    font-family: 'Bebas-Neue';
    font-size: 14px;
    margin-right: 10px;
    border-radius: 10px !important;
    margin-left: 16px;
}

.basket-cart {
    color: white;
    margin-right: 10px;
    text-decoration: none;
}

.basket-cart:before {
    text-decoration: none;
}

/* BASKET LABEL STYLES END */

/* BASKET STYLES START */

.page-container {
    font-family: 'Bebas-Neue';
    font-size: 16px;
    color: black;
    min-height: 600px;
}

.basket {
    font-family: 'Bebas-Neue';
    font-size: 16px;
}

.basket-value {
    width: 100%;
    max-width: 100%;
    border: none;
}

@media (max-width:576px) {
    .basket-value {
        text-align: center;
    }

    .basket-item-row {
        border-style: solid;
        border-width: 2px;
        border-color: grey;
        padding-bottom: 20px;
        margin-bottom: 20px;
    }

    .basket-value-total {
        text-align: right;
    }

    .basket-value-price {
        text-align: right;
    }

    .basket-button-spacing {
        margin-right: 0px;
        padding-right: 0px;
    }

    .basket-next-button {
        min-width: 100%;
    }

    .basket-next-button-wrapper {
        text-align: center;
        padding-bottom: 40px;
    }
}

@media (min-width:577px) {
    .basket-value {
        text-align: left;
    }

    .basket-value-total {
        text-align: center;
    }

    .basket-value-price {
        text-align: center;
        padding-left: 60px;
    }


    .basket-next-button {
        width: 100px;
    }

    .basket-next-button-wrapper {
        text-align: right;
        padding-bottom: 40px;
        padding-right: 80px;
    }
}


.basket-item-row {
    padding-top: 5px;
    padding-bottom: 5px;
}

.basket-button {
    background-color: gray;
    color: black;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.basket-button:active {
    background-color: gray;
    color: black;
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.basket-button:hover {
    background-color: black;
    color: white;
}
/* BASKET STYLES END */

/* LOGIN STYLES START */

.login-container {
    background-color: white;
    min-height: 600px;
    margin-left: 0px;
    margin-right: 0px;
    font-family: 'Bebas-Neue';
    font-size: 14px;
    color: black;
    text-align: center;
    display: inline-block;
    position: relative;
}

.login-option-container {
    width: 300px;
    height: 400px;
    top: 0px;
    /*background-color: red;*/
    margin: auto;
    display: inline-block;
    position: relative;
}

.login-section {
    text-align: left;
    padding-top: 20px;
}

.login-section-textbox {
    width: 100%;
    min-width: 100%;
}

/* LOGIN STYLES END */

/* CUSTOMER STYLES START */

.element-hidden {
    display: none;
}

/* CUSTOMER STYLES END*/

.textAreaSize {
    width: 100%;
}

/* ADMIN MENU STYLES START */
.admin-menu {
    margin-top: 8px !important;
    background-color: black;
    font-family: 'Bebas-Neue';
    font-size: 14pt;
}

.admin-menu li {
    text-align: left;
}

@media (min-width:767px) {
    .admin-menu li {
        text-align: right;
    }
}

.admin-menu li a {
    color: gray;
}

.admin-menu li a:hover {
    color: white;
    background-color: black;
}
/* ADMIN MENU STYLES END */

.logoutForm {
    padding-top: 0px;
}

.logoutForm li ul {
}

.account-options li {
    display: block;
}

@media (min-width:767px) {
    .account-options li {
        display: inline;
    }
}

/* IMAGE CONFIGURATION STYLES START*/

.image-config-carousel-item {
    width: 100%;
    height: 400px;
    width: 100%;
    background-size: cover;
    background-position: center top;
}

.image-config-carousel-item h3 {
    margin: 0px;
    font-family: 'Bebas-Neue';
    font-weight: bold;
    font-size: 22pt;
    color: white;
}

/* IMAGE CONFIGURATION STYLES END*/

/* MY PLANS STYLES START */
.plan-row-container {
    text-align: center;
    font-family: 'Bebas-Neue';
    font-size: 100px;
    line-height: 1;
    margin-top: 0;
    padding-top: 0;
    padding-right: 20px;
    display: inline-block;
}

.plan-container {
    width: 300px;
    height: 360px;
    position: relative;
    text-align: center;
    display: inline-block;
    padding: 2px;
    overflow: hidden;
}

.plan-format {
    font-family: 'Bebas-Neue';
    font-size: 30px;
    color: white;
    text-align: center;
}

.plan-name-format {
    font-size: 60px;
    text-align: center;
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
}

.plan-description-format {
    text-align: center;
    width: 100%;
    padding-top: 10px;
    padding-bottom: 40px;
}

.plan-download-format {
    text-align: center;
    width: 100%;
}

.plan-download-format a {
    text-decoration: none;
    color: white;
}

.plan-download-format a:hover {
    text-decoration-line: underline;
}

.plan-preparing-format {
    text-align: center;
    width: 100%;
}

.plan-questionnaire-format {
    text-align: center;
    width: 100%;
}

.plan-questionnaire-format a {
    text-decoration: none;
    color: white;
}

.plan-questionnaire-format a:hover {
    text-decoration-line: underline;
}

.plan-image {
    width: 100%;
    height: 100%;
    background-size: cover;
    background-position: center center;
    position: relative;
    background-repeat: no-repeat;
}

.plan-image-greyscale {
    filter: url("data:image/svg+xml;utf8,<svg xmlns=\'http://www.w3.org/2000/svg\'><filter id=\'grayscale\'><feColorMatrix type=\'matrix\' values=\'0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0.3333 0.3333 0.3333 0 0 0 0 0 1 0\'/></filter></svg>#grayscale"); /* Firefox 3.5+ */
    filter: gray; /* IE6-9 */
    -webkit-filter: grayscale(100%); /* Chrome 19+ & Safari 6+ */
}

.plan-upload-text {
    position: relative;
    right: 0;
    top: 0;
    height: 100%;
    width: 80%;
    float: left;
}

.plan-upload-text-label {
    margin-left: -56px;
    font-size: 20px;
}

.plan-upload-icon-wrapper-container {
    position: relative;
    width: 100%;
    height: 40px;
    bottom: 40px;
    left: 0;
}

.plan-upload-icon-wrapper {
    width: 100%;
    height: 50px;
    position: relative;
}

.plan-upload-icon {
    text-align: left;
    width: 100%;
    position: relative;
    display: inline-block;
    left: 0;
    top: 0;
    height: 100%;
    width: 20%;
    float: left
}

.plan-upload-icon a {
    padding-left: 20px;
    padding-bottom: 20px;
    text-decoration: none;
    color: white;
    position: relative;
    z-index: 2;
}

.plan-upload-icon a:hover {
    display: inline-block;
    position: relative;
    -moz-animation: bounce 0.5s infinite linear;
    -o-animation: bounce 0.5s infinite linear;
    -webkit-animation: bounce 0.5s infinite linear;
    animation: bounce 0.5s infinite linear;
    color: white;
}


@-webkit-keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -0.2em;
    }

    70% {
        top: -0.3em;
    }

    100% {
        top: 0;
    }
}

@-moz-keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -0.2em;
    }

    70% {
        top: -0.3em;
    }

    100% {
        top: 0;
    }
}

@-o-keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -0.2em;
    }

    70% {
        top: -0.3em;
    }

    100% {
        top: 0;
    }
}

@-ms-keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -0.2em;
    }

    70% {
        top: -0.3em;
    }

    100% {
        top: 0;
    }
}

@keyframes bounce {
    0% {
        top: 0;
    }

    50% {
        top: -0.2em;
    }

    70% {
        top: -0.3em;
    }

    100% {
        top: 0;
    }
}
/* MY PLANS STYLE END */

/* KALEIDOSCOPE STYLE START */
.kaleidoscope-wrapper {
    background-color: white;
    position: relative;
    z-index: 1
}

.kaleidoscope-large {
    min-height: 400px;
    position: relative;
    float: left;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}

.kaleidoscope-small {
    min-height: 200px;
    position: relative;
    float: left;
    background-size: cover;
    background-position: center top;
    background-repeat: no-repeat;
}
/* KALEIDOSCOPE STYLE END */

/* UPLOAD STYLE START */
.upload-modal-container {
    width: 100%;
    text-align: center;
    font-family: 'Bebas-Neue';
    line-height: 1;
}

.upload-modal-dialog {
    max-width: 540px;
    margin-top: 20px !important;
    margin: auto;
    padding-left: 10px;
    padding-right: 10px;
}

.upload-modal-content {
    -webkit-border-radius: 5px !important;
    -moz-border-radius: 5px !important;
    border-radius: 5px !important;
}

.upload-modal-header {
    text-align: left;
}

.upload-modal-title {
    font-size: 40pt;
    text-align: center;
}

.upload-modal-sub-title {
    font-size: 20pt;
    text-align: center;
    position: relative;
}

.upload-modal-body {
    font-size: 14pt;
}

.upload-modal-body p {
    text-align: justify;
}

.upload-modal-date {
    font-size: 20pt;
    text-align: right;
    position: relative;
    padding-bottom: 20px;
}

.upload-modal-footer {
    text-align: center;
}

.upload-modal-footer-logo {
    width: 200px;
}

.upload-modal-file {
    text-align: left;
    padding-left: 20px;
    padding-right: 20px;
    font-family: 'Bebas-Neue';
    font-size: 12pt;
}

.upload-modal-label {
    text-align: left !important;
    padding: 10px;
    padding-left: 20px;
}

.upload-modal-textarea {
    text-align: left;
    padding: 10px;
    padding-left: 20px;
    padding-right: 20px;
    max-width: 100%;
}
/* UPLOAD STYLE END */

/* HALL OF FAME STYLE START */
.hof-title-wrapper-container {
    width: 100%;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-left:0px;
    margin-right:0px;
}

.hof-title-wrapper {
    min-width: 300px;
    position: relative;
}

.hof-title {
    font-family: 'Bebas-Neue';
    font-size: 16pt;
    margin: 0;
}

.hof-image-wrapper {
    width: 100%;
    position: relative;
    text-align: center;
    display: inline-block;
    margin-left:0px;
    margin-right:0px;
}

.hof-image {
    position: relative;
    background-size: cover;
    background-position: center center;
    width: 300px;
    height: 400px;
    display: inline-block;
    padding: 10px
}

.hof-image-label {
    width: 30%;
    position: absolute;
    bottom: 20px;
    background-color: black;
    font-family: 'Bebas-Neue';
    font-size: 16pt;
    color: white;
}

.hof-image-label-left {
    left: 0;
}

.hof-image-label-right {
    right: 0;
}

.hof-comment {
    font-family: 'Bebas-Neue';
    font-size: 16pt;
    color: black;
}
/* HALL OF FAME STYLE END */

/* VALIDATION SUMMARY STYLE START */
.validation-format ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
}
/* VALIDATION SUMMARY STYLE END*/

/* CUSTOMER FORM STYLE START */
.customer-form-container {
    font-family: 'Bebas-Neue';
    font-size: 14pt;
}

.customer-form-wrapper {
    width: 100%;
    max-width: 500px;
    position: relative;
    margin: 0 auto;
}

.customer-form-label {
    padding-top: 8px;
}

.customer-form-input {
    min-width: 100%;
}

.customer-form-checkbox {
    margin-top: 8px;
}

.customer-form-warning {
    font-size: 10pt;
}

.customer-form-validation-summary ul {
    font-size: 10pt;
    padding-bottom: 2px;
    list-style-type: none;
    text-align: center;
}


/* CUSTOMER FORM STYLE END*/