<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JoelScottFitness.PayPal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JoelScottFitness.PayPal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <JoelScottFitness.PayPal.Properties.Settings>
            <setting name="PayPalFailedToCreatePaymentForTransactionErrorMessage"
                serializeAs="String">
                <value>Failed to create payment for transaction '{0}' associated to customer '{1}'.</value>
            </setting>
            <setting name="PayPalExceptionOccuredCreatingPaymentErrorMessage"
                serializeAs="String">
                <value>An error occured initiating paypal payment for customer '{0}', error details - '{1}'.</value>
            </setting>
            <setting name="PayPalPaymentFailedErrorMessage" serializeAs="String">
                <value>Payment associated to paymentId '{0}' and payerId '{1}' failed, paypal response returned payment state of '{2}'.</value>
            </setting>
        </JoelScottFitness.PayPal.Properties.Settings>
    </applicationSettings>
    <userSettings>
        <JoelScottFitness.PayPal.Properties.Settings>
            <setting name="PayPalPaymentExceptionErrorMessage" serializeAs="String">
                <value>An exception occured processing paypal payment for paymentId '{0}' and payerId '{1}', error details '{2}'.</value>
            </setting>
        </JoelScottFitness.PayPal.Properties.Settings>
    </userSettings>
</configuration>