<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="JoelScottFitness.PayPal.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <applicationSettings>
        <JoelScottFitness.PayPal.Properties.Settings>
            <setting name="Mode" serializeAs="String">
                <value>sandbox</value>
            </setting>
            <setting name="ConnectionTimeout" serializeAs="String">
                <value>360000</value>
            </setting>
            <setting name="RequestRetries" serializeAs="String">
                <value>3</value>
            </setting>
            <setting name="LCID" serializeAs="String">
                <value>AbP_MOF0BvQi4AE8oVi0nMnrwMWChCFnyZiF5rYI_cd2rvUoNXUPgGP-SF0XsgEy0vE5_5cRIpWz7YFj</value>
            </setting>
            <setting name="LCS" serializeAs="String">
                <value>EH_djivM49yeLlhbkql2msDfcpuS2a_nXZ_p7dNv0wRPO56QhYJitG8tiWiMdTtBC8dS1i4lnvRs-a6k</value>
            </setting>
            <setting name="SCID" serializeAs="String">
                <value>ASHoNRWg_CJ3bHxVbcDt9b0muO9Yx_DUGBWLDO5X01J2xwNofomRQtoVJSUOagCHd1gRkhSeLT8DO9Vf</value>
            </setting>
            <setting name="SCS" serializeAs="String">
                <value>EKozir3vCoSLcxmGUt2PGLMuQazsL31LbCLJ9vTOzrryrUVoZUjvjYtoABoRvCTSB_S9M8xs_TpJH7G_</value>
            </setting>
        </JoelScottFitness.PayPal.Properties.Settings>
    </applicationSettings>
</configuration>