<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  https://go.microsoft.com/fwlink/?LinkId=301880
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <section name="paypal" type="PayPal.SDKConfigHandler, PayPal" />
    <section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net" />
    <sectionGroup name="applicationSettings" type="System.Configuration.ApplicationSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
      <section name="JoelScottFitness.Web.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    </sectionGroup>
  </configSections>
  <connectionStrings>
    <add name="DefaultConnection" connectionString="Data Source=(LocalDb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\JoelScottFitness.mdf;Initial Catalog=JoelScottFitness;Integrated Security=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!-- PayPal SDK settings -->
  <paypal>
    <settings>
      <add name="mode" value="sandbox" />
      <add name="connectionTimeout" value="360000" />
      <add name="requestRetries" value="1" />
      <add name="clientId" value="AbmahpfwHC1O6OjhCRqZ75wWZZ6TypOP2LJZv7IOaEswTzGVQZ72R1YbxARVZkAqFP7sNWsA3_pWOHVQ" />
      <add name="clientSecret" value="EDZn6R1Y3du-_gSSfCE-LG5ckQcrGRmo0uvKDTxAuo9B-F62zv55QcmF8MKrtK0Kf5OQ5cILFHeIrTFw" />
    </settings>
  </paypal>
  <!-- log4net settings -->
  <log4net>
    <appender name="FileAppender" type="log4net.Appender.FileAppender">
      <file value="JSFitness.log" />
      <appendToFile value="true" />
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date       [%thread] %-5level %logger [%property{NDC}] %message%newline" />
      </layout>
    </appender>
    <root>
      <level value="INFO" />
      <appender-ref ref="FileAppender" />
    </root>
  </log4net>
  <appSettings>
    <add key="webpages:Version" value="3.0.0.0" />
    <add key="webpages:Enabled" value="false" />
    <add key="ClientValidationEnabled" value="true" />
    <add key="UnobtrusiveJavaScriptEnabled" value="true" />
    <add key="PayPalLogger" value="PayPal.Log.Log4netLogger" />
  </appSettings>
  <system.web>
    <authentication mode="Forms">
      <forms loginUrl="~/Account/Login"
             timeout="2880"
             protection="All"
             name=".MVCAUTH"
             path="/"
             requireSSL="false"
             slidingExpiration="true"
             defaultUrl="~/Home/Index"
             cookieless="UseDeviceProfile"
             enableCrossAppRedirects="false" />
    </authentication>
    <compilation debug="true" targetFramework="4.5.2" />
    <httpCookies httpOnlyCookies="true" />
    <httpRuntime targetFramework="4.5.2" enableVersionHeader="false" maxRequestLength="10240" />
    <httpModules>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" />
    </httpModules>
    <customErrors mode="Off" defaultRedirect="~/Home/Error">
      <error statusCode="404" redirect="~/Home/Error"/>
    </customErrors>
  </system.web>
  <system.webServer>
    <httpProtocol>
      <customHeaders>
        <remove name="X-Powered-By" />
      </customHeaders>
    </httpProtocol>
    <modules>
      <remove name="FormsAuthentication" />
      <remove name="ApplicationInsightsWebTracking" />
      <add name="HttpHeaderModule" type="JoelScottFitness.Web.Modules.HttpHeaderModule"/>
      <add name="ApplicationInsightsWebTracking" type="Microsoft.ApplicationInsights.Web.ApplicationInsightsHttpModule, Microsoft.AI.Web" preCondition="managedHandler" />
    </modules>
    <validation validateIntegratedModeConfiguration="false" />
    <security>
      <requestFiltering>
        <requestLimits maxAllowedContentLength="10485760" />
      </requestFiltering>
    </security>
  </system.webServer>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.OAuth" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin.Security.Cookies" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Microsoft.Owin" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-3.0.1.0" newVersion="3.0.1.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" culture="neutral" publicKeyToken="30ad4fe6b2a6aeed" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Optimization" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-1.1.0.0" newVersion="1.1.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="WebGrease" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-1.5.2.14234" newVersion="1.5.2.14234" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Helpers" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="0.0.0.0-5.2.3.0" newVersion="5.2.3.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.WebPages" publicKeyToken="31bf3856ad364e35" />
        <bindingRedirect oldVersion="1.0.0.0-3.0.0.0" newVersion="3.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
  <system.codedom>
    <compilers>
      <compiler language="c#;cs;csharp" extension=".cs" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.CSharpCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:6 /nowarn:1659;1699;1701" />
      <compiler language="vb;vbs;visualbasic;vbscript" extension=".vb" type="Microsoft.CodeDom.Providers.DotNetCompilerPlatform.VBCodeProvider, Microsoft.CodeDom.Providers.DotNetCompilerPlatform, Version=1.0.3.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" warningLevel="4" compilerOptions="/langversion:14 /nowarn:41008 /define:_MYTYPE=\&quot;Web\&quot; /optionInfer+" />
    </compilers>
  </system.codedom>
  <applicationSettings>
    <JoelScottFitness.Web.Properties.Settings>
      <setting name="PurchaseConfirmation" serializeAs="String">
        <value>Joel Scott Fitness - Order #{0} Confirmation</value>
      </setting>
      <setting name="PurchaseComplete" serializeAs="String">
        <value>Joel Scott Fitness - Order #{0} Complete</value>
      </setting>
      <setting name="ConfirmAccount" serializeAs="String">
        <value>Joel Scott Fitness - Confirm Account</value>
      </setting>
      <setting name="ResetPassword" serializeAs="String">
        <value>Joel Scott Fitness - Reset Password</value>
      </setting>
      <setting name="HallOfFameDirectory" serializeAs="String">
        <value>Content/Images/HallOfFame</value>
      </setting>
      <setting name="BlogImageDirectory" serializeAs="String">
        <value>Content/Images/Blogs</value>
      </setting>
      <setting name="PlanImageDirectory" serializeAs="String">
        <value>Content/Images/Plans</value>
      </setting>
      <setting name="ImageDirectory" serializeAs="String">
        <value>Content/Images</value>
      </setting>
      <setting name="PlanDirectory" serializeAs="String">
        <value>Content/Plans</value>
      </setting>
      <setting name="PlanFilenameFormat" serializeAs="String">
        <value>{0} {1} - {2} - {3} - {4}.pdf</value>
      </setting>
      <setting name="DefaultSectionImage1" serializeAs="String">
        <value>/Content/Images/Default/section1.jpg</value>
      </setting>
      <setting name="DefaultSectionImage2" serializeAs="String">
        <value>/Content/Images/Default/section2.jpg</value>
      </setting>
      <setting name="DefaultSectionImage3" serializeAs="String">
        <value>/Content/Images/Default/section3.jpg</value>
      </setting>
      <setting name="DefaultSplashImage" serializeAs="String">
        <value>/Content/Images/Default/banner.jpg</value>
      </setting>
      <setting name="BeforeFileNameFormat" serializeAs="String">
        <value>{0}_BEFORE_{1}</value>
      </setting>
      <setting name="AfterFileNameFormat" serializeAs="String">
        <value>{0}_AFTER_{1}</value>
      </setting>
      <setting name="DefaultItemQuantity" serializeAs="String">
        <value>1</value>
      </setting>
      <setting name="BasketItemsNullErrorMessage" serializeAs="String">
        <value>Attempted checkout with null basket session for customer '{0}'.</value>
      </setting>
      <setting name="BasketItemsAsyncNullErrorMessage" serializeAs="String">
        <value>Failed to retrieve matching basket items from database for customer '{0}', id's searched were '{1}'.</value>
      </setting>
      <setting name="GetCustomerDetailsAsyncErrorMessage" serializeAs="String">
        <value>Failed to retrieve customer details for customer with id '{0}';</value>
      </setting>
      <setting name="CustomerIdNullErrorMessage" serializeAs="String">
        <value>Ooops, we cannot find your customer id, please contact customer services if this continues.</value>
      </setting>
      <setting name="CreateGuestDetailsFailedErrorMessage" serializeAs="String">
        <value>Failed to create guest account details for customer with emaill address '{0}'.</value>
      </setting>
      <setting name="UnableToFindExistingCustomerErrorMessage" serializeAs="String">
        <value>Failed to find existing customer details for email address '{0}';</value>
      </setting>
      <setting name="FailedToUpdateExistingCustomerDetailsErrorMessage"
        serializeAs="String">
        <value>Failed to update existing customer details for email address '{0}';</value>
      </setting>
      <setting name="FailedToRetrievePlansErrorMessage" serializeAs="String">
        <value>Failed to retrieve plans from repository.</value>
      </setting>
      <setting name="FailedToInitiatePayPalPaymentErrorMessage" serializeAs="String">
        <value>Failed to initiate paypal payment, error details '{0}'.</value>
      </setting>
      <setting name="FailedToSaveItemsForPurchase" serializeAs="String">
        <value>Failed to save items pending purchase for customer '{0}'.</value>
      </setting>
      <setting name="ConfirmPurchaseViewModelNullErrorMessage" serializeAs="String">
        <value>The confirmPurchaseViewModel was null</value>
      </setting>
      <setting name="CallbackUri" serializeAs="String">
        <value>{0}/Home/ConfirmPurchase?</value>
      </setting>
      <setting name="PaymentCompletionParameterNullErrorMessage" serializeAs="String">
        <value>Payment completion parameter '{0}' is null or empty, cannot complete transaction.</value>
      </setting>
      <setting name="PaymentCompletionErrorMessage" serializeAs="String">
        <value>One or more payment completion parameters were null or empty</value>
      </setting>
      <setting name="FailedToCompletePayPalPaymentErrorMessage" serializeAs="String">
        <value>Failed to complete paypal payment, error details '{0}'.</value>
      </setting>
      <setting name="FailedToUpdatePurchaseStatusErrorMessage" serializeAs="String">
        <value>Failed to update purchase status of transaction with id '{0}'.</value>
      </setting>
      <setting name="FailedToRetrievePurchaseErrorMessage" serializeAs="String">
        <value>Failed to retrieve purchase '{0}' associated to transaction with id '{1}'.</value>
      </setting>
      <setting name="FailedToSendOrderConfirmationEmailErrorMessage"
        serializeAs="String">
        <value>Failed to send order confirmation email for transaction with id '{0}'.</value>
      </setting>
      <setting name="FailedToCreateOrUpdateQuestionnaireErrorMessage"
        serializeAs="String">
        <value>Failed to create or update questionnaire for purchase with id '{0}'.</value>
      </setting>
      <setting name="QuestionnaireCompleteConfirmationMessage" serializeAs="String">
        <value>Thanks, your tailored workout plan will be with you in the next 24 hours.</value>
      </setting>
      <setting name="ImageUploadErrorMessage" serializeAs="String">
        <value>{0} image is empty, please re-select.</value>
      </setting>
      <setting name="MissingCommentErrorMessage" serializeAs="String">
        <value>Please add a comment.</value>
      </setting>
      <setting name="FailedToUploadHallOfFameImagesErrorMessage" serializeAs="String">
        <value>Failed to upload hall of fame images associated to purchased item id '{0}'.</value>
      </setting>
      <setting name="FailedToUploadHallOfFameErrorMessage" serializeAs="String">
        <value>Failed to upload hall of fame associated to purchase item id '{0}'.</value>
      </setting>
      <setting name="FailedToCreateMessageErrorMessage" serializeAs="String">
        <value>Failed to create message for Name: '{0}', Email Address '{1}', Subject '{2}', Message '{3}'.</value>
      </setting>
      <setting name="MessageResponseSubject" serializeAs="String">
        <value>Re: {0}</value>
      </setting>
      <setting name="JoelScottFitnessEmaillAddress" serializeAs="String">
        <value>Blackmore__s@hotmail.com</value>
      </setting>
      <setting name="FailedToSendMessageErrorMessage" serializeAs="String">
        <value>Failed to send message for Name: '{0}', Email Address '{1}', Subject '{2}', Message '{3}'.</value>
      </setting>
      <setting name="FailedToFindUserErrorMessage" serializeAs="String">
        <value>Failed to find user with account name '{0}';</value>
      </setting>
      <setting name="FailedToUploadPlanForCustomerErrorMessage" serializeAs="String">
        <value>Failed to upload plan associated to purchase id '{0}' for customer with id '{1}'.</value>
      </setting>
      <setting name="FailedToAssociatePlanToPurchaseErrorMessage" serializeAs="String">
        <value>Failed to associate plan '{0}' to purchase with id '{1}' for customer with id '{2}'.</value>
      </setting>
      <setting name="FailedToFindPurchaseErrorMessageErrorMessage"
        serializeAs="String">
        <value>Failed to retrieve purchase with id '{0}' associated to customer with id '{1}'.</value>
      </setting>
      <setting name="FailedToSendOrderCompleteEmailErrorMessage" serializeAs="String">
        <value>Failed to send order complete email for purchase with id '{0}' associated to customer with id '{1}'.</value>
      </setting>
      <setting name="FailedToFindCustomerErrorMessage" serializeAs="String">
        <value>Failed to find customer with id '{0}'.</value>
      </setting>
      <setting name="FailedToUploadFileErrorMessage" serializeAs="String">
        <value>Failed to upload '{0}'.</value>
      </setting>
      <setting name="FailedToAddImageToDatabaseErrorMessage" serializeAs="String">
        <value>Failed to add image '{0}' to database.</value>
      </setting>
      <setting name="FailedToDeleteImageErrorMessage" serializeAs="String">
        <value>Failed to delete image with id '{0}'.</value>
      </setting>
    </JoelScottFitness.Web.Properties.Settings>
  </applicationSettings>
</configuration>