

<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>JoelScottFitness.com - BELIEVE ACHIEVE</title>

    @Styles.Render("~/Content/css")

</head>
<body>



    <style>
        body {
            background-color: black;
        }

        .title-container {
            text-align: center;
            width: 100%;
        }

        .title {
            max-width: 100%;
            width: auto;
            height: auto;
            padding-left: 20px;
            padding-right: 20px;
        }


        .coming-soon {
            padding-top: 70px;
            padding-bottom: 70px;
            font-size: 30pt;
            color: white;
            font-family: "Graduate-Regular", Helvetica, Arial, sans-serif;
            text-align: center;
        }

        #footer {
            background-color: black;
            height: 500px;
        }

        #footer-links {
            padding-top: 30px;
            padding-bottom: 50px;
        }

        #footer-links ul {
            list-style-type: none;
            text-align: center;
        }

        #footer-links ul li {
            display: inline;
        }

        #footer-links ul li:hover {
            color: white;
        }

        #footer-links ul a {
            color: lightgray;
        }

        #footer-links ul a:hover {
            color: white;
        }

        #footer-social {
            color: white;
        }

        .footer-icons {
            text-align: center;
            padding-bottom: 30px;
        }

        .footer-icons i {
            color: #999999;
        }

        .footer-icons i:hover {
            color: white;
        }

        .footer-logo {
            width: 100%;
            padding-top: 30px;
            padding-bottom: 30px;
        }

        .footer-logo-wrapper {
            position: absolute;
            left: 50%;
            transform: translateX(-50%);
            white-space: nowrap;
        }

        .footer-links-container {
            padding-top: 50px;
        }

        .footer-links-container ul {
            list-style: none;
        }

        .footer-links-container ul li {
            padding-bottom: 20px;
            padding-bottom: 20px;
        }

        .footer-links-container ul li a {
            text-decoration: none;
            color: #999999;
            padding-bottom: 10px;
        }

        .footer-links-container ul li a:hover {
            color: white;
        }
    </style>

    <div class="row">
        <div style="width:100vw;position:relative">
            <div style="width: 80%;margin:0 auto;padding-top: 50px;">
                <img src="~/Content/jsf-white.svg" />
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-xs-12 coming-soon">COMING SOON</div>
    </div>
    <div class="row">
        <div id="footer-links">
            <div class="footer-icons col-xs-6 col-sm-3 col-md-3">
                <a href="http://www.facebook.com/Joelscottfitness-346355882365048/" target="_blank" id="facebook"><i class="fa fa-facebook-square fa-4x"></i></a>
            </div>
            <div class="footer-icons col-xs-6 col-sm-3 col-md-3">
                <a href="https://twitter.com/JoelSFitness/" target="_blank"><i class="fa fa-twitter fa-4x"></i></a>
            </div>
            <div class="footer-icons col-xs-6 col-sm-3 col-md-3">
                <a href="https://www.youtube.com/user/JoelScottFitness/" target="_blank"><i class="fa fa-youtube fa-4x"></i></a>
            </div>
            <div class="footer-icons col-xs-6 col-sm-3 col-md-3">
                <a href="https://www.instagram.com/joelscottfitness/" target="_blank"><i class="fa fa-instagram fa-4x"></i></a>
            </div>
        </div>
    </div>
</body>
</html>
