<div id="basket-cart-container" hidden="hidden" class="basket-cart-container">
    <a href="/Home/Basket" class="basket-link">
        <div class="basket-background">
            <div class="backet-icon-container" style="text-decoration:none;">
                <span id="basket-badge" class="badge basket-badge"></span>
                <i class="fa fa-shopping-cart fa-2x fa-flip-horizontal basket-cart"></i>
            </div>
            <div style="clear:both"></div>
        </div>
    </a>
</div>
