<div class="modal upload-modal-container" id="upload-modal">
    <div class="modal-dialog upload-modal-dialog" style="text-align:center">
        <div class="modal-content upload-modal-content">
            <div class="modal-header upload-modal-header">
                <button class="close" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h2 id="upload-title" class="modal-title upload-modal-title"></h2>
                <br />
                <div id="upload-sub-title" class=" upload-modal-sub-title"></div>
            </div>
            <form id="upload-form" action="/Home/BeforeAndAfter" method="POST" enctype="multipart/form-data">
                <div class="modal-body upload-modal-body">
                    <div class="form-horizontal">
                        @Html.AntiForgeryToken()
                        <input type="hidden" id="purchased-item-id" />
                        <div class="form-group">
                            <label class="control-label col-xs-12 upload-modal-label" for="BeforeFile">Before</label>
                            <div class="col-xs-12" style="padding:0">
                                <input type="file" class="upload-modal-file" id="before-image" size="3072" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="BeforeFile" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 upload-modal-label" for="AfterFile">After</label>
                            <div class="col-xs-12" style="padding:0">
                                <input type="file" class="upload-modal-file" id="after-image" size="3072" />
                                <span class="field-validation-valid text-danger" data-valmsg-for="AfterFile" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div class="form-group">
                            <label class="control-label col-xs-12 upload-modal-label" for="Comment">Comment</label>
                            <div class="col-xs-12" style="padding:10px;padding-left:20px;padding-right:20px">
                                <textarea class="form-control upload-modal-textarea" id="comment" cols="20" rows="2"></textarea>
                                <span class="field-validation-valid text-danger" data-valmsg-for="Comment" data-valmsg-replace="true"></span>
                            </div>
                        </div>
                        <div style="position:relative;text-align:center">
                            <label id="file-size-note" class="" style="font-size:10pt;">files must be less than 10MB total</label>
                        </div>
                        <div style="position:relative;text-align:center">
                            <label id="validation-summary" class="text-danger form-validation-summary" style="font-size:10pt" hidden="hidden"></label>
                        </div>
                        <div class="form-group">
                            <div class="col-md-12">
                                <button type="submit" value="Submit" class="btn btn-default basket-next-button basket-button" id="upload-button" style="width:270px;font-size:18px;">Submit</button>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

            <div class="modal-footer upload-modal-footer">
                <img src="~/Content/Images/Logos/jsf-black.svg" class="upload-modal-footer-logo" />
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript">
    $(function () {

        var uploadForm = document.getElementById('upload-form');
        var uploadButton = document.getElementById('upload-button');
        var beforeFileInput = document.getElementById('before-image');
        var afterFileInput = document.getElementById('after-image');
        var validationSummary = document.getElementById('validation-summary');


        uploadForm.onsubmit = function (event) {
            event.preventDefault();

            validationSummary.innerHTML = '';
            validationSummary.hidden = true;

            // Update button text.
            uploadButton.innerHTML = 'Uploading...<i class="fa fa-spinner fa-pulse" aria-hidden="true"></i>';

            // check valid file types
            if (beforeFileInput.files.length <= 0 || afterFileInput.files.length <= 0) {
                validationSummary.innerHTML = 'Please select image files.';
                validationSummary.hidden = false;
                uploadButton.innerHTML = 'Submit';
                return;
            }

            if ($('#comment').val().trim(' ').length <= 0) {
                validationSummary.innerHTML = 'Please enter a comment.';
                validationSummary.hidden = false;
                uploadButton.innerHTML = 'Submit';
                return;
            }
            
            var beforeFile = beforeFileInput.files[0];
            var afterFile = afterFileInput.files[0];
            
            var formData = new FormData();
            formData.append('BeforeFile', beforeFile, beforeFile.name);
            formData.append('AfterFile', afterFile, afterFile.name);
            formData.append('Comment', $('#comment').val().trim(' '));
            formData.append('PurchasedItemId', $('#purchased-item-id').val());
            formData.append('__RequestVerificationToken', $('input[name="__RequestVerificationToken"]').val());

            // check valid file types
            if (!checkFileType(beforeFile.name) || !checkFileType(afterFile.name)) {
                validationSummary.innerHTML = 'Files must be images.';
                validationSummary.hidden = false;
                uploadButton.innerHTML = 'Submit';
                return;
            }

            var xhr = new XMLHttpRequest();
            xhr.open('POST', '/Home/BeforeAndAfter', true);
            // Set up a handler for when the request finishes.
            xhr.onload = function () {
                if (xhr.status === 200) {
                    // File(s) uploaded.
                    uploadButton.innerHTML = 'Submit';
                    var responseData = JSON.parse(xhr.response);
                    if (responseData.success === false) {
                        validationSummary.innerHTML = responseData.errorMessage;
                        validationSummary.hidden = false;
                    }
                    else {
                        $('#upload-modal').modal('hide');
                    }
                } else {
                    validationSummary.innerHTML = 'Oops! something went wrong please try again later.';
                    validationSummary.hidden = false;
                    uploadButton.innerHTML = 'Submit';
                }
            };

            xhr.send(formData);
    }
    });

    function checkFileType(filename) {
        var extension = filename.toLowerCase().substring(filename.lastIndexOf('.')+1);
        if ($.inArray(extension, ['gif', 'png', 'jpg', 'jpeg']) < 0) {
            return false;
        }
        return true;
    }


</script>


