<div class="row text-nowrap @ViewData["text-align"]" style="padding-right:20px;padding-left:20px; @ViewData["extra-styles"]">
    <div class="col-xs-12 believe-achieve @ViewData["colour-class"]">
        BELIEVE &nbsp;<span class="glyphicon glyphicon-star" style="padding-top:20px"></span> ACHIEVE
    </div>
</div>