@model JoelScottFitness.Common.Models.BlogImageViewModel

<div class="item blog-modal-carousel-item">
    <img src="@Model.ImagePath" class="blog-modal-carousel-item-image" />
    <div class="carousel-caption blog-modal-carousel-item-caption">
        <h3>@Model.CaptionTitle</h3>
        <p>@Model.Caption</p>
        <div class="logo blog-modal-carousel-item-caption-logo"></div>
    </div>
</div>