<div class="modal blog-modal-container" id="blog-modal">
    <div class="modal-dialog blog-modal-dialog">
        <div class="modal-content blog-modal-content">
            <div class="modal-header blog-modal-header">
                <button class="close" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h2 id="blog-title" class="modal-title blog-modal-title"></h2>
                <br />
                <div id="blog-sub-title" class=" blog-modal-sub-title"></div>
            </div>
            <div class="modal-body blog-modal-body">
                <div id="blog-date" class="blog-modal-date"></div>
                <p id="blog-content">
                </p>
            </div>
            <div id="blog-modal-carousel-wrapper" class="row">
                <!-- Wrapper for carousel -->
            </div>

            <div class="modal-footer blog-modal-footer">
                <img src="~/Content/Images/Logos/jsf-black.svg" class="blog-modal-footer-logo" />
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>

