@model IEnumerable<JoelScottFitness.Common.Models.BlogViewModel>

@{
    if (Model.Any())
    {
        int blogCount = 0;

        foreach (var blog in Model)
        {
            ViewBag.blogAlternate = "blog-alternate-white";

            if (blogCount % 2 == 0)
            {
                ViewBag.blogAlternate = "blog-alternate-black";
            }

            Html.RenderPartial("_BlogEntry", blog);

            blogCount++;
        }
    }
    else
    {
        <div class="row col-xs-12" style="margin:0px">
            <div class="more-link-wrapper" style="padding-top:120px;padding-bottom:120px">
                OOPS! NOT CURRENTLY AVAILABLE
            </div>
        </div>
    }
}
