<div class="modal blog-modal-container" id="blog-modal">
    <div class="modal-dialog blog-modal-dialog">
        <div class="modal-content blog-modal-content">
            <div class="modal-header blog-modal-header">
                <button class="close" type="button" data-dismiss="modal"><i class="fa fa-close"></i></button>
                <h2 id="blog-title" class="modal-title blog-modal-title"></h2>
                <br />
                <div id="blog-sub-title" class=" blog-modal-sub-title"></div>
            </div>
            <div class="modal-body blog-modal-body">
                <div id="blog-date" class="blog-modal-date"></div>
                <p id="blog-content">
                </p>
            </div>
            @*<div style="clear:both"></div>*@
            <div id="blog-modal-carousel-wrapper" class="row">
                <div id="blog-modal-carousel" class="carousel slide blog-modal-carousel-wrapper" data-ride="carousel">
                    <!-- Indicators -->
                    @*<ol id="carousel-indicators" class="carousel-indicators"></ol>*@

                    <!-- Wrapper for slides -->
                    @*<div id="carousel-inner" class="carousel-inner">
                    </div>*@

                    <!-- Left and right controls -->
                    @*<a class="left carousel-control" href="#blog-modal-carousel" data-slide="prev">
                        <span class="glyphicon glyphicon-chevron-left"></span>
                        <span class="sr-only">Previous</span>
                    </a>
                    <a class="right carousel-control" href="#blog-modal-carousel" data-slide="next">
                        <span class="glyphicon glyphicon-chevron-right"></span>
                        <span class="sr-only">Next</span>
                    </a>*@
                </div>
            </div>

            <div class="modal-footer blog-modal-footer">
                <img src="~/Content/Logos/jsf-black.svg" class="blog-modal-footer-logo" />
                <div style="clear:both"></div>
            </div>
        </div>
    </div>
</div>
