@model JoelScottFitness.Common.Models.CallbackViewModel
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
<div class="email-content-wrapper">
    <div class="email-content-container">
        <br>
        <p style="color:black;white-space:normal">
            Please confirm your account by clicking <a href="@Model.CallbackUrl">here</a>.
        </p>
    </div>
</div>
