@model JoelScottFitness.Common.Models.MessageViewModel

@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
<div class="email-content-wrapper">
    <div class="email-content-container">
        <br>
        <p style="color:black;white-space:normal;text-align:left">
            @Html.Raw(@Model.Response.Replace("\r\n", "<br/>"))
            <br /><br />
            Thanks<br /><br />

            Joel<br /><br />

            <b>JoelScottFitness.com</b><br /><br />
        </p>
    </div>
</div>
