@model JoelScottFitness.Common.Models.CallbackViewModel
@{
    Layout = "~/Views/Shared/_EmailLayout.cshtml";
}
<div class="email-content-wrapper">
    <div class="email-content-container">
        <br>
        <p style="color:black;white-space:normal;text-align:left">
            
            You recently registered at <b>JoelScottFitness.com</b> <br /><br />

            Please click here to confirm your account. <br /><br />

            <a href="@Model.CallbackUrl" target="_blank" rel="noopener noreferrer" class="email-order-status-button" style="margin-bottom:30px;margin-top:30px;">
                <span style="text-decoration:none;font-size:10pt;">Confirm Account</span>

            </a>

            Thanks<br /><br />

            Joel<br /><br />

            <b>JoelScottFitness.com</b><br /><br />
        </p>
    </div>
</div>
