

<div class="row footer-container" style="z-index:2;width:100vw;margin-left:0px;margin-right:0px">
    <div class="col-xs-12 col-sm-4 col-sm-push-4 col-md-4">

        @Html.AntiForgeryToken()
        <div class="input-group footer-subscribe-container" style="z-index:0">
            <input id="emailAddress" type="text" class="form-control" style="max-width:100%" placeholder="Email...">
            <span class="input-group-btn">
                <button id="subscribe" class="btn btn-danger" type="submit">Subscribe</button>
            </span>
        </div>

        <div class="footer-logo-wrapper">
            <div class="footer-logo">
                <img src="~/Content/Images/Logos/jsf-white.svg" />
            </div>
        </div>
    </div>
    <div class="col-xs-12 col-sm-4 col-sm-pull-4 footer-site-map">
        <ul>
            <li class="footer-map-header">Site</li>
            <li><a href="/Home/Index/#nav">Home</a></li>
            <li><a href="/Home/Index/#plans">Plans</a></li>
            <li><a href="/Home/Blogs">Blog</a></li>
            <li><a href="/Home/Index/#media">Media</a></li>
            <li><a href="#">Contact</a></li>
        </ul>
    </div>
    <div class="col-xs-12 col-sm-4 col-md-4 footer-social-map">
        <ul>
            <li class="footer-map-header">Social</li>
            <li><a href="https://www.facebook.com/JoelScottFitness-346355882365048/" target="_blank"><i class="fa fa-facebook fa-2x"></i></a></li>
            <li><a href="https://www.instagram.com/joelscottfitness/" target="_blank"><i class="fa fa-instagram fa-2x"></i></a></li>
            <li><a href="https://twitter.com/joelsfitness?lang=en" target="_blank"><i class="fa fa-twitter fa-2x"></i></a></li>
            <li><a href="https://www.youtube.com/channel/UCubxF1muUJF5xH7yLe_KfFg" target="_blank"><i class="fa fa-youtube fa-2x"></i></a></li>
        </ul>
    </div>
</div>
