@model IEnumerable<JoelScottFitness.Common.Models.MediaViewModel>

@{
    if (Model != null && Model.Any())
    {
        var videoCount = 0;

        foreach (var video in Model)
        {
            string pull = string.Empty;
            string push = string.Empty;

            if (videoCount % 2 == 1)
            {
                pull = "col-sm-pull-6";
                push = "col-sm-push-6";
            }

            Html.RenderPartial("_MediaEntry", video, new ViewDataDictionary() { { "pull", pull }, { "push", push } });

            videoCount++;
        }

        if (Model.Count() > 3)
        {
            <div class="row col-xs-12" style="margin:0px;">
                <div class="more-link-wrapper">
                    <a href="https://www.youtube.com/channel/UCubxF1muUJF5xH7yLe_KfFg" target="_blank" class="more-link">VIEW MY CHANNEL</a>
                </div>
            </div>
        }
        else
        {
            <div>
                <div class="more-link-wrapper">
                    <a href="/Home/Media" class="more-link">MORE</a>
                </div>
            </div>
        }
    }
    else
    {
        <div class="row col-xs-12" style="margin:0px">
            <div class="more-link-wrapper" style="padding-top:120px;padding-bottom:120px">
                OOPS! NOT CURRENTLY AVAILABLE
            </div>
        </div>

    }
}
